.cover__subtitle {
  margin: 0 auto;
  max-width: 360px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .cover__subtitle  {
    font-size: 18px;
    line-height: 22px;
  }
}