.intro {
  display: flex;
  flex-direction: column;
  padding: 64px 16px;
}

@media (min-width: 768px) {
  .intro {
    padding: 88px 24px;
  }
}

@media (min-width: 976px) {
  .intro {
    padding: 92px 0;
  }
}