.cover__title {
  margin: 0 auto 16px;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
}

@media (min-width: 453px) {
  .cover__title  {
    max-width: 420px;
  }
}

@media (min-width: 768px) {
  .cover__title  {
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 32px;
    max-width: none;
  }
}