.place__website {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

@media (min-width: 768px) {
  .place__website {
    padding: 0;
    justify-content: end;
  }
}